<header>
  <!-- <img src="../assets/task-management-logo.png" alt="A to do list"> -->
  <!-- <img src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?size=338&ext=jpg&ga=GA1.1.672697106.1717621200&semt=sph" alt="A to do list"> -->
  <img alt="My Image" src="images/task-management-logo.png" />
  <div>
    <h1>EasyTask</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, labore
      pariatur. Minima incidunt numquam et explicabo accusamus. Praesentium fuga
      illo, soluta voluptate maiores nemo numquam blanditiis quisquam provident
      voluptatibus recusandae.
    </p>
  </div>
</header>
